<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Página Inicial</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body id='imagem-fundo'>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"> 
				<img src="../img/truck_48.png" alt="" width="48" height="48">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastrar
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href="/cadastrarcliente">Cliente</a></li>
							<li><a class="dropdown-item" href="/cadastraritem">Item</a></li>
							<li><a class="dropdown-item" href="/cadromaneio">Romaneio</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Consultar
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li><a class="dropdown-item" href="/listarcliente">Clientes</a></li>
							<li><a class="dropdown-item" href="/listaritem">Itens</a></li>
							<li><a class="dropdown-item" href="/listarroma">Romaneios</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container-fluid">
		<h1 class="text-white text-center p-3">
			<b>Bem vindo ao Sistema de Gestão de Romaneios de Cargas</b>
		</h1>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/cadastrarcliente"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Cadastrar Cliente?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							realizar a inclusão de novos cadastros de clientes no sistema.</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/cadastraritem"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Cadastrar Item?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							realizar a inclusão de novos cadastros de itens no sistema.</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/cadromaneio"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Cadastrar Romaneio?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							realizar a inclusão de novos Romaneios no sistema.</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/listarcliente"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Listar o cadastro dos clientes?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							consultar o cadastro dos clientes lançados no sistema.</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/listaritem"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Listar o cadastro dos itens?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							consultar o cadastro dos itens lançados no sistema.</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 card text-white bg-primary mb-3" id="passar_mouse">
					<a href="/listarroma"> 
					<img src="../img/cadastro.jpg" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">Listar o cadastro dos Romaneios?</h5>
						<div id="card1" class="card-text">Acesse essa rotina para
							consultar os Romaneios lançados no sistema.</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="passar_mouse">
		<div id="card1" class="mensagem text-black">
			<p id="txt_msg">
				<b>Olá me chamo Luiz!
				<br>
				Está com dúvida de como utilizar essa rotina do sistema? Clique aqui, que vou lhe ajudar ;)</b>			
				<p>
		</div>
		<a href="https://youtu.be/pLv2u0Gg5ws" target="_blank"> 
			<img id='assistente' src="../img/assitente.jpg" alt="" class="img-fluid">
		</a>
	</div>

	<footer
		class="bg-primary text-white text-center text-lg-start footer-dark fixed-bottom">
		<!-- Copyright -->
		<div class="text-center p-3">© 2022 Copyright: Luiz Alberto
			Parnoff</div>
		<!-- Copyright -->
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous">
	</script>

</body>
</html>